.message {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 100px;

    &__body {
        font-size: 30px;
        text-align: center;
        padding: 30px 20px;
        border-radius: 8px;
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    &__icon {
        margin-bottom: 10px;
        
        svg {
            width: 60px;
        }
    }
}